body {
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  background-color: rgb(59, 20, 90);
  margin: 0%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: seagreen;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.menu ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.menu ul li {
  display: inline;
  position: relative;
  margin: 0px 10px;
}

.menu ul li a {
  display: inline-block;
  padding: 25px;
  font-family: Arial;
  font-size: 25px;
  text-decoration: none;
  color: aliceblue;
  transition: background 0.3s;
  align-items: center;
}

.menu ul li a:hover {
  background-color: rgb(59, 20, 90);
}

/* Página Contato */

.forms {
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.espaco {
  width: 500px;
  height: 20px;
  border-radius: 4px;
  padding: 10px 0;
  margin: 10px 0;
  border-width: thin;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#mensagem {
  border-radius: 4px;
  width: 500px;
  margin: 10px 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mapa {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-bloco {
  grid-template-rows: 100px 100px;
}

/* Página Quem Somos */

.quem-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 200px;
}

.foto-quem-somos img {
  height: 700px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.texto {
  font-size: 18px;
  padding: 0px 200px;
  color: #f1f1f1;
}

span {
  color: rgb(38, 196, 106);
}

.span1 {
  color: #fcb900;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

/* Página Nossa Equipe */

.fotos {
  height: 200px;
  border-radius: 50%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100;
  place-content: center;
}
.bloco {
  width: 470px;
  text-align: center;
}
